@font-face {
  font-family: Rubik;
  src: url("assets/fonts/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: Rubik-Italic;
  src: url("assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
}

:root {
  --purple: #a729f5;
  --purple-hover: #a729f580;
  --purple-button-hover: #d394fa;
  --light-purple: #f6e7ff;
  --white: #fff;

  --bg-color-light: #f4f6fae6;
  /* --bg-color-dark: #313e51e6; */
  --bg-color-dark: #313e51;

  --options-color-dark: #3b4d66;

  --correct: #26d782;
  --warning: #ee5454;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
}

img {
  max-width: 100%;
}

body {
  background: url(assets/images/pattern-background-mobile-light.svg) center
    center no-repeat;
  background-color: #f4f6fae6;
  background-size: cover;
  font-size: 1.6rem;
  font-weight: 300;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body[data-screen="dark"] {
  color: var(--white);
  background: url(assets/images/pattern-background-mobile-dark.svg) center
    center no-repeat;
  background-size: cover;
  background-color: var(--bg-color-dark);
}

@media screen and (width > 767px) {
  body {
    background: url(assets/images/pattern-background-tablet-light.svg) center
      center no-repeat;
    background-size: cover;
  }

  body[data-screen="dark"] {
    background: url(assets/images/pattern-background-tablet-dark.svg) center
      center no-repeat;
    background-size: cover;
    background-color: var(--bg-color-dark);
  }
}

@media screen and (width > 1023px) {
  body {
    background: url(assets/images/pattern-background-desktop-light.svg) center
      center no-repeat;
    background-size: cover;
  }

  body[data-screen="dark"] {
    background: url(assets/images/pattern-background-desktop-dark.svg) center
      center no-repeat;
    background-size: cover;
    background-color: var(--bg-color-dark);
  }
}

.app-container {
  min-height: 100vh;
  width: 90rem;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 7rem;
  padding-block: 3rem;
  /* border: 1px solid red; */
}

.app-container__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topbar-subject {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.topbar-subject .subject-icon {
  width: 4rem;
}

.switch-mode {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.switch-mode .switcher {
  width: 4rem;
  height: 2.5rem;
  border-radius: 50px;
  background: var(--purple);
  position: relative;
  border: 0;
  cursor: pointer;
  text-indent: -99999999999999px;
  overflow: hidden;
}

.switcher .switcher__dot {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: var(--white);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body[data-screen="dark"] .switcher .switcher__dot {
  left: calc(100% - 22px);
}

body[data-screen="light"] .switch-mode .dark-mode {
  display: none;
}

body[data-screen="dark"] .switch-mode .light-mode {
  display: none;
}

.app-container__wrapper {
  width: 100%;
}

.app-container__quiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  /* padding: 140px; */
}

.left-col,
.right-col {
  position: relative;
}

.col-50 {
  width: 100%;
}

h1,
h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h1 span,
h2 span {
  display: block;
  font-weight: 700;
}

.subjects__subject {
  display: flex;
  align-items: center;
  position: relative;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2.4rem;
  box-shadow: 0px 1.6rem 4rem 0px rgba(143, 160, 193, 0.14);
  background-color: var(--white);
  cursor: pointer;
  font-weight: 500;
}

[data-screen="dark"] .subjects__subject {
  box-shadow: 0px 1.6rem 4rem 0px rgba(49, 62, 81, 0.14);
}

body[data-screen="dark"] .subjects__subject {
  background-color: var(--options-color-dark);
}

.subjects__subject:not(:last-child) {
  margin-bottom: 2rem;
}

.subject-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Fix Dark Mode Colors */
[data-screen="dark"] .subjects__subject .subject-icon {
  color: var(--bg-color-dark);
}

[data-page="quiz-page"] .subjects__subject:not(.active):hover .subject-icon,
[data-page="quiz-page"] .subjects__subject:not(.active):focus .subject-icon {
  background-color: var(--light-purple);
  color: var(--purple);
}

[data-page="quiz-page"] .subjects__subject.active {
  border: 3px solid var(--purple);
}

[data-page="quiz-page"] .subjects__subject.active .subject-icon {
  background-color: var(--purple);
  color: var(--white);
}

[data-page="quiz-page"] .subjects__subject.active.correct {
  border: 3px solid var(--correct);
}

[data-page="quiz-page"] .subjects__subject.active.correct .subject-icon {
  background-color: var(--correct);
}

[data-page="quiz-page"] .subjects__subject.correct::after,
[data-page="quiz-page"] .subjects__subject.wrong::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-size: contain;
}

[data-page="quiz-page"] .subjects__subject.correct::after {
  background: url(assets/images/icon-correct.svg) no-repeat center center;
}

[data-page="quiz-page"] .subjects__subject.wrong::after {
  background: url(assets/images/icon-error.svg) no-repeat center center;
}

[data-page="quiz-page"] .subjects__subject.active.wrong {
  border: 3px solid var(--warning);
}

[data-page="quiz-page"] .subjects__subject.active.wrong .subject-icon {
  background-color: var(--warning);
}

/* .subject-icon {
  --html-color: #fff0e6;
  --css-color: #e0fdef;
  --javascript-color: #eceffd;
  --accessibility-color: #f5e7ff;
} */

.html-color {
  background: #fff0e6;
}
.css-color {
  background: #e0fdef;
}
.javascript-color {
  background: #eceffd;
}
.accessibility-color {
  background: #f5e7ff;
}

.option {
  display: none;
}
.option.active {
  display: flex;
}

body[data-page="quiz-page"] .front-page,
body[data-page="quiz-page"] .result-page,
body[data-page="front-page"] .quiz-page,
body[data-page="front-page"] .result-page,
body[data-page="result-page"] .front-page,
body[data-page="result-page"] .quiz-page {
  display: none;
}

body[data-page="front-page"] .quiz-page {
  display: none;
}

body[data-page="front-page"] .topbar-subject > * {
  display: none;
}

@media screen and (width > 767px) {
  .app-container__wrapper {
    width: 100%;
  }

  .app-container__quiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .col-50 {
    width: 50%;
  }

  h1,
  h2 {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }

  .subjects__subject {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .subject-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! Quiz Wrapper */
/* -------------------------------------------------------------------------------- */
.question-wrapper p {
  margin-bottom: 1rem;
  font-style: italic;
}
.question-wrapper h3 {
  font-size: 3.6rem;
  font-weight: 600;
}

.quiz-page .subject-icon {
  width: 5rem;
  background-color: #f4f6fa;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  /* border: 1px solid red; */
  border-radius: 10px;
  background: var(--white);
  margin-block: 2rem;
}

[data-screen="dark"] .progress-bar {
  background: var(--options-color-dark);
}

.progress-bar__intern {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--purple);
  border-radius: 10px;
  border: 3px solid var(--white);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-screen="dark"] .progress-bar__intern {
  border-color: var(--options-color-dark);
}

.submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-wrapper button {
  display: block;
  width: 100%;
  margin-top: 3rem;
  border-radius: 2.4rem;
  border: none;
  background: var(--Purple, #a729f5);
  box-shadow: 0px 1.6rem 4rem 0px rgba(143, 160, 193, 0.14);
  padding: 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.submit-wrapper button:hover,
.submit-wrapper button:focus {
  background: var(--purple-button-hover);
}

.select-warning__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-block: 2rem;
  color: var(--warning);
}

.select-warning img {
  max-width: 2rem;
}

@media screen and (width > 767px) {
  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! Result page */
/* -------------------------------------------------------------------------------- */

.score-container {
  text-align: center;
  border-radius: 2rem;
  background: var(--white);
  padding: 4rem;
}

[data-screen="dark"] .score-container {
  background: var(--options-color-dark);
}

.result-subject {
  justify-content: center;
}

.score-container__score {
  font-size: 12rem;
  font-weight: 700;
}

[data-screen="dark"] .p.score-container__maximum {
  opacity: 0.3;
}
